.row
  .hero-unit
    h1 "'Allo, 'Allo"
    p You now have
    ul
      li(ng-repeat="thing in awesomeThings") {{thing}}

    p installed
    h3 Enjoy coding!
.row
  .hero-unit.sys-stat
    #memory
      svg
    #loadavg
      svg
  .hero-unit.sys-stat-leg
    #memory-leg
      |mem
    #loadavg-leg
      |loadavg
